<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/users/cart">Cart<span
          class="badge badge-secondary"
        >{{productCount}}</span></a>
      <a class="nav-item nav-link" href="/users/orders">Orders</a>
    </div>
  </div>
  <a href="/users/login"><button
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
    >Login</button></a>
  <a href="/users/signup"><button
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
    >Sign Up</button></a>

</nav>