<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.css">
  </head>
  <body>
    {{#if admin}}
    {{>admin-navbar}}
    {{else}}
    {{#if login}}
    {{>user-navbar-login}}
    {{else}}
    {{>user-navbar}}
    {{/if}}
    {{/if}}
    
    {{{body}}}
    <script src="/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
  </body>
</html>
