<div class="container-fluid">
  <div class="row">
    {{#each products}}
      <div class="cards col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/products/{{_id}}.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">{{productName}}</h5>
            <del><p class="d-inline card-text">₹{{productMrp}}</p></del>
            <p class="d-inline card-text">₹{{productPrice}}</p>
            <a href="#" class="d-block btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>